<nav>
    <a href="/">Home</a>
    <a href="/movies" >Movie Reviews</a>
    <a href="/shows">TV Show Reviews</a>
    <a class="new" href="/shows/new">Create TV Show Review</a>
    <a class="new" href="/movies/new">Create Movie Review</a>
</nav>