<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('./partials/head.ejs')%>
</head>
<body>
    <h1>CinemOpinion</h1>   
    <h2>A place to read and write movie reviews</h2>
    <div id="movies">
        <h3><a href="/movies">Movie Reviews</a></h3>
    </div>                                                     
</body>
</html>