<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('./partials/head.ejs')%>
    <link rel="stylesheet" href="style_home.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Raleway:wght@200&display=swap" rel="stylesheet">
  </head>
  <body>
    <%- include('./partials/nav.ejs')%>
    <section id="left-side">
      <img
        src="https://images.unsplash.com/photo-1478720568477-152d9b164e26?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MXx8Y2luZW1hfGVufDB8fDB8fA%3D%3D&auto=format&fit=crop&w=500&q=60"
        alt="movie projector"
      />
    </section>
    <section id="right-side">
      <h1>CinemOpinion</h1>
      <h4>A place to read and write movie and TV show reviews</h2>
        <a href="/movies"><div id="movies">
        <h3>Movie Reviews</h3>
      </div></a>
      <a href="/shows"><div id="shows">
        <h3>TV show Reviews</h3>
      </div></a>
    </section>
  </body>
</html>
