* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body {
    background-color: #dcd9d9;
    font-family: "Poppins";
}
nav a {
    text-decoration: none;
    margin: 0 20px;
    color: white;
}
nav {
    background-color: #253d5b;
    position: absolute;
    top: 0;
    width: 100%;
    padding: 8px;
}
.new {
    float: right;
}
a {
    text-decoration: none;
    color: black;
}
h2 {
    font-size: 35px;
}
h3 {
    font-size: 25px;
}

img {
    width: 60%;
    border-radius: 10px;
}
h1 {
    position: relative;
    top: 40px;
    text-align: center;
    font-size: 50px;
    
}
div {
    margin-top: 70px;
}
.container {
    display: flex;
    align-content: center;
}
#img-left {
    display: inline-block;
    width: 50%;
    position: relative;
    left: 60px;
    bottom: 40px;
    
}

#info-right {
    display: inline-block;
    position: relative;
    left: 50px;
    bottom: 35px;
}
button {
    padding: 10px 20px;
    margin: 30px 20px;
    border-radius: 10px;
    border: none;
    font-family: "Poppins";
    box-shadow: 3px 5px #969696;
}
button:hover {
    background-color:#969696;
    box-shadow: 3px 5px white;
}