body {
    background-color: #dcd9d9;
}
nav a {
    text-decoration: none;
    margin: 0 20px;
    color: white;
}
nav {
    background-color: #253d5b;
    position: absolute;
    top: 0;
    width: 100%;
    padding: 8px;
}
.new {
    float: right;
}
h1 {
    font-family: "Poppins";
    font-weight: 500;
    color: #c6878f;
    border-bottom: 2px solid #c6878f;
    text-align: center;
    
        position: relative;
        top: 17px;
    
  }
  fieldset {
    
    border: 1px solid #969696;
    border-radius: 5px;
    padding: 15px;
    margin: 20px auto;
    width: 50%;
  }
  legend {
    padding: 0px 10px;
    font-family: "Poppins";
    
    color: #14191f;
  }
  label {
    font-family: "Oswald";
    font-weight: 200;
    color: #253d5b;
    display: block;
  }
  input,
  textarea {
    width: 100%;
    margin: 10px 0;
    padding: 7px;
    box-sizing: border-box;
    border: 1px solid #c6878f;
    border-radius: 5px;
  }
  input[type="submit"] {
    width: 50%;
    height: 50px;
    background: #253d5b;
    box-shadow: 2px 2px #c6878f;
    font-family: "Oswald";
    font-size: 1.3em;
    color: whitesmoke;
    border: 0px;
    transition: 0.2s ease-in-out;
    
    
  }
  input[type="submit"]:hover {
    cursor: pointer;
    background: #c6878f;
    box-shadow: 2px 2px #253d5b;
  }

  #submit {
    text-align: center;
  }
  form {
    position: relative;
        top: 30px;
  }
button {
    padding: 10px 20px;
    margin-right: 20px;
    margin-bottom: 30px;
    border-radius: 10px;
    border: none;
    font-family: "Poppins";
    box-shadow: 3px 5px #969696;
}
button:hover {
    background-color:#969696;
    box-shadow: 3px 5px white;
}

a {
    text-decoration: none;
    color: black;
}