body {
    /* background-color: #82859b; */
    display: flex;
    justify-content: center;
    background: linear-gradient(0.25turn, #253d5b, #969696, #c6878f);
    text-align: center;
    
    
}
section {
    display: block;
    margin: auto 30px;
    position: relative;
    top: 200px;
}

img {
    border-radius: 10px;
    width: 90%;
    
}
h1 {
    font-family: 'Raleway', sans-serif;
    font-size: 60px;
}
h4, a {
    font-family: 'Raleway', sans-serif;
}
a {
    text-decoration: none;
    color: white;
}

div {
    display: inline-block;
    padding: 20px;
    margin: 10px;
    background-color: #585656;
    border-radius: 30px;
    
}
div:hover {
    cursor: pointer;
    transform: translate(0, -10px);
    
}

