body {
    background-color: #dcd9d9;
    font-family: "Poppins";
}
nav a {
    text-decoration: none;
    margin: 0 20px;
    color: white;
}
nav {
    background-color: #253d5b;
    position: absolute;
    top: 0;
    width: 100%;
    padding: 8px;
}
.new {
    float: right;
}


img {
    width: 70%;
    border-radius: 10px;
}
h1 {
    position: relative;
    top: 40px;
    text-align: center;
}
div {
    margin-top: 70px;
}
.container {
    display: inline-block;
}
#img-left {
    display: inline-block;
    width: 60%;
    border: black;
    position: relative;
    left: 60px;
    bottom: 40px;
}

#info-right {
    display: inline-block;
    border: black;
    position: relative;
    left: 50px;
    bottom: 80px;
}