nav a {
    text-decoration: none;
    margin: 0 20px;
    color: white;
}
nav {
    background-color: #253d5b;
    position: absolute;
    top: 0;
    width: 100%;
    padding: 8px;
}
.new {
    float: right;
}


img {
    width: 50%;
}
h1 {
    position: relative;
    top: 40px;
    text-align: center;
}
div {
    margin-top: 70px;
}
#img-left {
    display: inline-block;
}

#info-right {
    display: inline-block;
}