<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/head.ejs')%>
</head>
<body>
    <h1>Create New Review</h1>
    <form action="/movies" method="POST">
        <fieldset>
            <legend>Movie Information</legend>
            <!----------Movie title ---------->
            <label for="title">Movie Title</label>
            <input type="text" id="title" name="title"><br>
            <!----------Movie Image URL---------->
            <label for="image">Movie Image URL</label>
            <input type="text" name="img" id="image"><br>
            <!----------Review Author ---------->
            <label for="author">Review Author</label>
            <input type="text" name="review_author" id="author" placeholder="Your name here">
        </fieldset>
        <fieldset>
            <legend>Movie Ratings (1-10) By Category</legend>

            <label for="writing">Writing</label>
            <input type="number" min="1" max="10" id="writing" name="writing"><br>

            <label for="direction">Direction</label>
            <input type="number" min="1" max="10" id="direction" name="direction"><br>

            <label for="cinematography">Cinematography</label>
            <input type="number" min="1" max="10" id="cinematography" name="cinematography"><br>

            <label for="acting">Acting</label>
            <input type="number" min="1" max="10" id="acting" name="acting"><br>

            <label for="editing">Editing</label>
            <input type="number" min="1" max="10" id="editing" name="editing"><br>

            <label for="sound">Sound Design</label>
            <input type="number" min="1" max="10" id="sound" name="sound"><br>

            <label for="soundtrack">Score/Soundtrack</label>
            <input type="number" min="1" max="10" id="soundtrack" name="soundtrack"><br>

            <label for="production_design">Production Design</label>
            <input type="number" min="1" max="10" id="production_design" name="production_design"><br>

            <label for="casting">Casting</label>
            <input type="number" min="1" max="10" id="casting" name="casting"><br>

            <label for="effects">Effects</label>
            <input type="number" min="1" max="10" id="effects" name="effects"><br>
        </fieldset>
        <fieldset>
            <legend>Written Review</legend>
            <textarea name="review" cols="70" rows="10" placeholder="Let us know your thoughts on the movie"></textarea>
        </fieldset>
        <input type="submit" value="Create Review">
    </form>
</body>
</html>